*{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}
body{
	background-image: url('https://blogsmedia.lse.ac.uk/blogs.dir/43/files/2021/11/blog-1-1.jpg');
	background-size:cover;
}
.banner{
	height: 100vh;
	width: 100%;
	background-position: top;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}
.banner .navbar{
	margin-top:4%;
}
.banner .navbar-brand{
	color:palegoldenrod;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}
.banner .nav{
	margin-right:10%; 
}
.banner .nav li a{
	color:aquamarine;
	font-size: 1.2em;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color:coral;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color:snow;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color:goldenrod;
	background:peachpuff;
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.banner .info a:hover{
	background:peachpuff;
}