<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <center>
        <form method="POST">
            <label>Faculty Id:</label>
            <p><input placeholder="Enter Faculty Id" type="text" name="fid" required/></p>
            <label>Password:</label>
            <p><input placeholder="Enter password" type="text" name="password" required/></p>      
        </form>
    <button id="logout-button" disabled>
        Logout
      </button>
</body>
</html>